# fly.toml app configuration file generated for projectsolutionclient-silent-sun-5469 on 2025-12-12T03:49:31+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'projectsolutionclient-silent-sun-5469'
primary_region = 'fra'

[build]
  dockerfile = './Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'

[env]
  BACKEND_URL = "https://projectsolutionserver-morning-snowflake-4604.fly.dev"
